@charset "UTF-8";
@font-face {
    font-family: "montserrat";
    src: url(/assets/fonts/Montserrat/Montserrat-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "montserrat";
    src: url(/assets/fonts/Montserrat/Montserrat-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "montserrat";
    src: url(/assets/fonts/Montserrat/Montserrat-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "montserrat";
    src: url(/assets/fonts/Montserrat/Montserrat-SemiBold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "montserrat";
    src: url(/assets/fonts/Montserrat/Montserrat-Bold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "montserrat";
    src: url(/assets/fonts/Montserrat/Montserrat-ExtraBold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

/**
  Переменные для цветов
 */
*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

body {
    font-family: "montserrat", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    text-align: left;
    font-size: 0.625rem;
    font-weight: 400;
    min-height: 100vh;
    margin: 0;
    line-height: 1.5;
    color: #000;
    background-color: #fff;
}

body.active {
    height: 100vh;
    overflow: hidden;
}

[tabindex='-1']:focus {
    outline: 0 !important;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

abbr[data-original-title],
abbr[title] {
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
    cursor: help;
    border-bottom: 0;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
}

address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
}

dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol ol,
ol ul,
ul ol,
ul ul {
    margin-bottom: 0;
}

dt {
    font-weight: 700;
}

dd {
    margin-bottom: 0.5rem;
    margin-left: 0;
}

blockquote {
    margin: 0 0 1rem;
}

b,
strong {
    font-weight: bolder;
}

small {
    font-size: 80%;
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
    outline: 0;
}

code,
kbd,
pre,
samp {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
    font-size: 1em;
}

pre {
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
}

figure {
    margin: 0 0 1rem;
}

img {
    vertical-align: middle;
    border-style: none;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

caption {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: #6c757d;
    text-align: left;
    caption-side: bottom;
}

th {
    text-align: inherit;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

button {
    border-radius: 0;
    outline: 0;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

select {
    word-wrap: normal;
}

[type='button'],
[type='reset'],
[type='submit'],
button {
    -webkit-appearance: button;
}

[type='button']:not(:disabled),
[type='reset']:not(:disabled),
[type='submit']:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}

[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner,
button::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

input[type='checkbox'],
input[type='radio'] {
    box-sizing: border-box;
    padding: 0;
}

input[type='date'],
input[type='datetime-local'],
input[type='month'],
input[type='time'] {
    -webkit-appearance: listbox;
}

textarea {
    overflow: auto;
    resize: vertical;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
    height: auto;
}

[type='search'] {
    outline-offset: -2px;
    -webkit-appearance: none;
}

[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
}

output {
    display: inline-block;
}

summary {
    display: list-item;
    cursor: pointer;
}

template {
    display: none;
}

[hidden] {
    display: none !important;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    background: #767676d7;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000;
}

.app-btn {
    font-weight: bold;
    font-size: 1.4em;
    text-transform: uppercase;
    position: relative;
    display: block;
    width: auto;
    height: auto;
    padding: 20px 35px;
    margin-right: auto;
    border-radius: 28px;
    outline: 0 !important;
    border: 3px solid #7629936b;
    color: #fff;
    background-image: linear-gradient(180deg, #fba345 0%, #cf5701 100%);
}

@media only screen and (max-width: 559px) {
    .app-btn {
        font-size: 1.2em;
    }
}

.app-form input {
    font-size: 1.6em;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    outline: 0 !important;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: #f8f8f8;
}

.procces .col-md-6 {
    text-align: center;
    margin-bottom: 20px;
    border-radius: 8px;
}

.procces .col-md-6 .box {
    width: 100%;
    height: auto;
    padding: 20px;
    transition: box-shadow .4s ease;
    box-shadow: 0px 15px 30px #05080908;
}

.procces .col-md-6 .box:hover {
    box-shadow: 0px 15px 30px #0508091f;
}

.procces .col-md-6 img {
    -o-object-fit: contain;
    object-fit: contain;
    max-width: 100%;
    height: 60px;
    margin: 30px 0;
}

.procces .col-md-6 h4 {
    font-weight: bold;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.procces .col-md-6 p {
    font-size: 1.4em;
    margin: 0;
}

@media only screen and (max-width: 559px) {
    .procces .col-md-6 h4 {
        font-size: 1.6em;
    }
}

.sec-tle {
    text-align: center;
    font-weight: 700;
    font-size: 3.6em;
    margin-bottom: 50px;
}

.sec-tle.for-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sec-tle.for-btns .control {
    display: flex;
}

.sec-tle.for-btns .control i {
    font-size: 0.8em;
    transition: .3s ease;
}

.sec-tle.for-btns .control div:hover i {
    color: #f39539;
}

@media only screen and (max-width: 559px) {
    .sec-tle {
        font-size: 2.8em;
        margin-bottom: 30px;
    }
}

.app-drop {
    user-select: none;
    font-weight: 600;
    font-size: 1.4em;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 5px;
    color: #fff;
}

.app-drop > div {
    font-weight: 400;
    position: absolute;
    visibility: hidden;
    width: 120px;
    height: auto;
    top: 100%;
    left: 50%;
    padding: 7px;
    opacity: 0;
    border-radius: 5px;
    transform: translateX(-50%);
    background: #fff;
}

.app-drop > div a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    margin: 0;
    border-radius: 5px;
    transition: all .3s ease;
    color: #000;
}

.app-drop > div a.active {
    color: #fff;
    background: #D15A04;
}

.app-drop > div a:hover {
    color: #fff;
    background: #D15A04;
}

.app-drop.active > div {
    visibility: visible;
    opacity: 1;
    transition: all .3s ease;
}

@media only screen and (max-width: 991px) {
    .app-drop {
        margin-left: auto;
    }
}

main {
    position: relative;
    width: 100%;
    height: auto;
}

main section {
    position: relative;
    width: 100%;
    height: auto;
}

main section.with-p {
    padding-top: 100px;
}

@media only screen and (max-width: 767px) {
    main section.with-p {
        padding-top: 50px;
    }
}

main section.with-py {
    padding: 100px 0;
}

@media only screen and (max-width: 767px) {
    main section.with-py {
        padding: 50px 0;
    }
}

main .intro {
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    background: url("/assets/img/intro-bg.jpg") no-repeat;
    background-size: cover;
}

main .intro-item {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #fff;
}

main .intro-item .col-md-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .intro-item h1 {
    font-weight: 700;
    font-size: 4em;
    margin-bottom: 35px;
}

main .intro-item p {
    font-size: 1.6em;
    margin-bottom: 70px;
}

main .intro-item img {
    width: 100%;
}

@media only screen and (max-width: 767px) {
    main .intro-item {
        text-align: center;
    }

    main .intro-item button {
        margin: 0 auto;
    }

    main .intro-item img {
        display: none;
    }
}

@media only screen and (max-width: 559px) {
    main .intro-item h1 {
        font-size: 2.8em;
        margin-bottom: 20px;
    }

    main .intro-item p {
        font-size: 1.6em;
        margin-bottom: 50px;
    }
}

main .about-company .col-md-6 {
    position: static;
    padding: 100px 0;
    padding-left: 70px;
}

main .about-company img.main {
    position: absolute;
    -o-object-fit: cover;
    object-fit: cover;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
}

main .about-company img:not(.main) {
    max-width: 100%;
    margin-bottom: 15px;
}

main .about-company h4 {
    font-weight: 600;
    font-size: 1.6em;
    margin-bottom: 45px;
}

main .about-company p {
    font-size: 1.4em;
    margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
    main .about-company {
        padding-top: 50px;
    }

    main .about-company .col-md-6 {
        padding: 0 15px;
    }

    main .about-company .col-md-6:first-child {
        display: none;
    }

    main .about-company h4 {
        text-align: center;
        margin-bottom: 30px;
    }

    main .about-company p {
        margin-bottom: 15px;
    }
}

main .equipment .col-md-6 {
    position: static;
    padding: 80px 0;
}

main .equipment img.bg {
    position: absolute;
    -o-object-fit: cover;
    object-fit: cover;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

main .equipment div.main {
    padding: 80px 0;
}

@media only screen and (max-width: 767px) {
    main .equipment .container {
        max-width: 100%;
        width: 100%;
        margin: 0;
    }

    main .equipment .col-md-6 {
        position: relative;
        padding: 0;
    }

    main .equipment .col-md-6.main {
        padding: 50px 15px;
    }

    main .equipment img.bg {
        width: 100%;
    }
}

main .comment {
    overflow: hidden;
    background: url(/assets/img/comment-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

main .comment .container {
    position: relative;
}

main .comment .control {
    font-size: 2.4em;
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 1px;
    top: 50%;
    left: 0;
    color: #fff;
}

main .comment .control .swiper-next-1.swiper-button-disabled,
main .comment .control .swiper-prev-1.swiper-button-disabled {
    opacity: .5;
}

main .comment::before {
    position: absolute;
    content: '”';
    width: auto;
    height: auto;
    top: -420px;
    right: 100px;
    font-size: 90em;
    color: #fff;
}

@media only screen and (max-width: 1199px) {
    main .comment::before {
        right: 0;
    }
}

@media only screen and (max-width: 767px) {
    main .comment::before {
        display: none;
    }
}

@media only screen and (max-width: 559px) {
    main .comment .control {
        width: calc(100% - 30px);
        left: 15px;
        top: 20%;
    }
}

main .cooperation .col-md-6 {
    position: static;
    padding: 100px 0;
    padding-left: 70px;
    padding-bottom: 0;
}

main .cooperation img.main {
    position: absolute;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: right top;
    object-position: right top;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 100px;
}

main .cooperation h4 {
    font-weight: bold;
    font-size: 2.4em;
    margin-bottom: 10px;
    color: #f39539;
}

main .cooperation p {
    font-size: 1.4em;
    margin-bottom: 30px;
}

@media only screen and (max-width: 767px) {
    main .cooperation {
        text-align: center;
        padding-top: 50px;
    }

    main .cooperation .col-md-6 {
        padding: 0 15px;
    }

    main .cooperation .col-md-6:first-child {
        display: none;
    }

    main .cooperation h4 {
        font-size: 1.8em;
    }
}

main .footer {
    background: url(/assets/img/footer.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
}

main .footer h4 {
    font-weight: bold;
    font-size: 2em;
}

main .footer p {
    font-size: 1.6em;
}

main .footer .social {
    position: relative;
    display: flex;
}

main .footer .social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: 5px;
    background: #ffffff17;
    transition: all .3s ease;
}

main .footer .social-item .net {
    transition: all .3s ease;
}

main .footer .social-item:hover {
    background: #fff;
}

main .footer .social-item:hover .net {
    fill: #433798;
}

@media only screen and (max-width: 767px) {
    main .footer .social {
        justify-content: center;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 767px) {
    main .footer {
        text-align: center;
    }
}

@media only screen and (max-width: 559px) {
    main .footer h4 {
        font-size: 1.8em;
    }

    main .footer p {
        font-size: 1.4em;
    }
}

footer {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0 15px;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    font-size: 1.4em;
    margin: 0;
}

@media only screen and (max-width: 767px) {
    footer {
        align-items: center;
        text-align: center;
    }

    footer .container {
        flex-direction: column;
    }
}

header {
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: 5;
    transition: all .3s ease;
}

header nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 30px 0;
    transition: all .3s ease;
}

header nav .brand {
    z-index: 10;
}

header nav ul {
    display: flex;
    padding: 10px 0;
    margin: 0;
}

header nav ul li {
    list-style-type: none;
}

header nav ul li a {
    font-weight: 500;
    font-size: 1.4em;
    position: relative;
    display: block;
    margin: 0 .625rem;
    color: #fff !important;
}

header nav ul li a::before {
    position: absolute;
    content: '';
    width: 0%;
    height: 2px;
    bottom: -10px;
    left: 50%;
    border-radius: 5px;
    transform: translateX(-50%);
    transition: all .2s ease;
    background: #fff;
}

header nav ul li a:hover::before {
    width: 100%;
}

header nav .callback {
    text-align: right;
    display: flex;
    flex-direction: column;
}

header nav .callback a {
    font-weight: 600;
    font-size: 1.4em;
    color: #fff !important;
}

header nav .mob-nav {
    position: fixed;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
}

header nav .mob-nav > div {
    position: relative;
    width: 100%;
    height: 0;
}

header nav .mob-nav > div > div {
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    height: auto;
    top: 0;
    left: 0;
    transition: all .4s ease;
    transform: translateY(-100%);
}

header nav .mob-nav > div > div.active {
    transform: translateY(0);
}

header nav .mob-nav > div > div.active:nth-child(2) {
    transition-delay: .1s;
}

header nav .mob-nav > div > div.active:nth-child(3) {
    transition-delay: .2s;
}

header nav .mob-nav > div > div.active:nth-child(4) {
    transition-delay: .3s;
}

header nav .mob-nav > div > div:nth-child(1) {
    background: #1fdddf;
    transition-delay: .3s;
}

header nav .mob-nav > div > div:nth-child(2) {
    background: #270ab0;
    transition-delay: .2s;
}

header nav .mob-nav > div > div:nth-child(3) {
    background: #e2771e;
    transition-delay: .1s;
}

header nav .mob-nav > div > div:nth-child(4) {
    transition-delay: 0;
    background: #000;
}

header nav .mob-nav > div .main {
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav .mob-nav > div .main ul {
    display: flex;
    flex-direction: column;
    padding: 100px 0;
    margin: 0;
}

header nav .mob-nav > div .main ul li {
    text-align: center;
    list-style-type: none;
    margin-bottom: 10px;
}

header nav .mob-nav > div .main ul li a {
    font-weight: 700;
    font-size: 3.2em;
    position: relative;
    display: block;
    margin: 0 .625rem;
    color: #fff !important;
}

header nav .mob-nav > div .main ul li a::before {
    display: none;
}

@media only screen and (max-width: 559px) {
    header nav .mob-nav > div .main ul li a {
        font-size: 2.4em;
    }
}

@media only screen and (max-width: 1199px) {
    header nav ul li a {
        font-size: 1.2em;
    }

    header nav .callback a {
        font-weight: 500;
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 991px) {
    header nav {
        padding: 10px 0;
    }

    header nav ul {
        display: none;
    }

    header nav .callback {
        display: none;
    }
}

header.scrolled {
    background: #000000a1;
}

header.scrolled nav {
    padding: 15px 0;
}

.ham {
    position: relative;
    right: -17px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: none;
    z-index: 10;
}

.ham .top {
    stroke-dasharray: 40 121;
}

.ham .bottom {
    stroke-dasharray: 40 121;
}

.ham.active .top {
    stroke-dashoffset: -68px;
}

.ham.active .bottom {
    stroke-dashoffset: -68px;
}

.ham.active {
    right: 0;
}

@media only screen and (max-width: 991px) {
    .ham {
        display: block;
    }
}

@media only screen and (max-width: 559px) {
    .ham {
        right: -15px;
    }
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
}

.swiper-container {
    width: 100%;
    height: auto;
}

.swiper-1 .swiper-slide {
    position: relative;
}

.swiper-1 h2 {
    font-weight: 700;
    font-size: 3em;
    color: #f39539;
    margin-bottom: 25px;
}

.swiper-1 p {
    font-size: 1.6em;
    color: #fff;
    margin-bottom: 60px;
}

.swiper-1 .control {
    position: relative;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}

.swiper-1 .control div {
    display: flex;
    margin-bottom: 20px;
}

.swiper-1 .control div i {
    font-size: 2em;
    color: #fff;
    margin-right: 15px;
}

.swiper-1 .control .swiper-pagination-1 {
    color: #fff;
    font-size: 2.4em;
    width: auto;
    margin: 0;
}

.swiper-1 .control .swiper-pagination-1 .swiper-pagination-current {
    font-weight: 700;
}

.swiper-1 .control .swiper-pagination-1 .swiper-pagination-current::before,
.swiper-1 .control .swiper-pagination-1 .swiper-pagination-total::before {
    content: '0';
}

.swiper-1 .control .swiper-next-1.swiper-button-disabled,
.swiper-1 .control .swiper-prev-1.swiper-button-disabled {
    opacity: .5;
}

.swiper-1 .img-box {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    background: #f8f8f8;
}

.swiper-1 .img-box img {
    position: relative;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: left center;
    object-position: left center;
    max-width: 100%;
    width: 100%;
    height: 100%;
    padding-left: 15px;
}

@media only screen and (max-width: 767px) {
    .swiper-1 {
        text-align: center;
    }

    .swiper-1 .img-box {
        position: static;
        width: 100%;
        height: 300px;
    }

    .swiper-1 .control {
        align-items: center;
    }
}

@media only screen and (max-width: 559px) {
    .swiper-1 h2 {
        font-size: 2.4em;
    }

    .swiper-1 p {
        font-size: 1.4em;
    }
}

.swiper-2 img {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    max-width: 100%;
    width: 100%;
    height: 350px;
    margin-bottom: 20px;
}

.swiper-2 h4 {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 10px;
}

.swiper-2 p {
    font-size: 1.4em;
    margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
    .swiper-2 {
        text-align: center;
    }

    .swiper-2 h4 {
        font-size: 1.8em;
    }
}

.swiper-3 .swiper-slide {
    text-align: center;
    color: #fff;
}

.swiper-3 img {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    border-radius: 50%;
}

.swiper-3 h4 {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 5px;
}

.swiper-3 span {
    font-size: 1.6em;
    display: block;
    margin-bottom: 20px;
}

.swiper-3 p {
    font-size: 1.8em;
}

@media only screen and (max-width: 559px) {
    .swiper-3 h4 {
        font-size: 1.8em;
    }

    .swiper-3 p {
        font-size: 1.4em;
    }
}

.overlay {
    position: fixed;
    overflow: hidden;
    pointer-events: none;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9;
    opacity: 0;
    transition: all .2s ease;
    background: #000000d9;
}

.overlay.active {
    overflow: visible;
    pointer-events: visible;
    opacity: 1;
}

.app-modal {
    text-align: center;
    position: fixed;
    overflow: hidden;
    pointer-events: none;
    max-width: 100%;
    width: 450px;
    height: auto;
    top: -50%;
    left: 50%;
    opacity: 0;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    z-index: 10;
    transition: all .4s ease;
    background: #fff;
}

.app-modal-content {
    position: relative;
    width: 100%;
    padding: 40px;
    height: auto;
}

.app-modal-content h2 {
    font-size: 2.4em;
}

.app-modal-content img {
    margin-bottom: 15px;
}

.app-modal-content .modal-close {
    font-size: 2em;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
}

.app-modal-content .modal-close.posr {
    font-size: 1.4em;
    position: static;
    top: 0;
    right: 0;
}

.app-modal.active {
    overflow: visible;
    pointer-events: visible;
    opacity: 1;
    top: 50%;
}


/* ? Custom css add */
.app-form .col-12 {
    margin-bottom: 2rem;
}

.form-control:focus {
    color: #000;
    outline: 0 !important;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: #f8f8f8;
    box-shadow: none;
}

.form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    padding: 0.6rem;
    pointer-events: none;
    cursor: text;
    color: rgba(34, 41, 47, 0.4);
    font-size: 0.85rem;
    opacity: 0;
}

.form-label-group > input:not(:placeholder-shown) ~ label, .form-label-group textarea:not(:placeholder-shown) ~ label {
    padding: 0.25rem 0;
    font-size: 0.7rem;
    top: -21px;
    left: 16px;
}

.form-label-group > input:not(:focus):not(:placeholder-shown) ~ label, .form-label-group textarea:not(:focus):not(:placeholder-shown) ~ label {
    color: rgba(34, 41, 47, 0.4) !important;
}

.form-label-group > input:focus:not(:placeholder-shown) ~ label, .form-label-group > input:not(:active):not(:placeholder-shown) ~ label, .form-label-group textarea:focus:not(:placeholder-shown) ~ label, .form-label-group textarea:not(:active):not(:placeholder-shown) ~ label {
    color: #7367F0 !important;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    opacity: 1;
}

.form-label-group p {
    text-align: left;
    margin-top: 0.3rem;
    font-size: 0.7rem;
    margin-bottom: 0;
}

/*# sourceMappingURL=maps/main.css.map */
